<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change Password</title>
</head>
<body>

    <form action="change-password/save" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="retypePassword" class="form-label">Retype Password</label>
            <input type="password" class="form-control" id="retypePassword">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>
</html>